<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-card-content>
  <ion-card-subtitle> {{nombre | lowercase }} </ion-card-subtitle>    
  <ion-card-subtitle> {{nombre | uppercase }} </ion-card-subtitle>   
  <ion-card-subtitle> {{numero | number:'1.0-1' }} </ion-card-subtitle>   
  <ion-card-subtitle> {{nombre | slice:0:3 }} </ion-card-subtitle>   
  <ion-card-subtitle> {{nombre | slice:3 }} </ion-card-subtitle>
  <ion-card-subtitle> {{valor | currency:'COP'.true }} </ion-card-subtitle>
    </ion-card-content>
  </ion-content>
